@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {margin:0;   background:#b9cbaa;font-family: 'Libre Baskerville', serif;} 
* {box-sizing:border-box;}
.loading-screen { width:100%; height:100vh; transform:scaleY(0);transform-origin:top left; position:fixed; top:0; left:0; background:lemonchiffon;}
a {color:inherit;text-decoration:none;}
li {list-style:none;}
.sect {
    min-height:100vh;
}

.sect-wrap {
    align-items:center;
    width:100%;
    height:100vh;
    text-align:center;
    padding: 2rem 0 ;
    color:#fff;
    position:relative;
}

.sect1 .sect-wrap {
    justify-content:space-between;
    align-items:inherit;
    text-align:left;
    color:#394437;
    padding-left:2rem;
    background:#fff;
    
}
.sect1 h2 {
    font-weight:400;
    font-size: 18px;
    font-family:'poppins', sans-serif;
}
h1 {
    font-size:180px;
    color:#394437;text-align:left;
    
}
.sect1 h1 {
    font-weight:400;
    letter-spacing:-0.05em;
}
.sect2 p {
    font-size: 24px;
    width:50vw;
    color:#394437;;
    font-family:'poppins', sans-serif;
}

.sect3 {
}
.sect3 h3 {
    font-size: 60px;
    text-align:left;
}
.sect3 p {
    font-size: 180px;
    color:#fff;
    position:relative;
    margin:0;
}
.centeredItem {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    margin:0;
}
.sect3 h3 {
    width:500px;
}

.sect4 {
    font-size: 180px;
}

.sect5 {
    color:#fff;
    font-size: 100px;
}
.sect5 h3 {
    margin:0;
    width:70vw;
}
.sect5 p {
    font-size: 20px;
    font-family:'poppins', sans-serif;
}
.sect5 li {
    display:block;
    font-size: 40px;
    line-height: 80px;
}
footer {
    color:#fff;
    text-align:center;
    padding: 3rem;
    padding-top: 10rem;
    font-size:20px;
    font-family:'poppins', sans-serif;
}
.sect3 .sect-wrap {position:relative;}
.bubble {
    background:#943efc;
    width:400px;
    height:400px;
    border-radius:400px;
    position:absolute;
}